/**
 * Custom styles /overwrite styles 
 */

 /* ==========================================================================
    main
    ========================================================================== */

#main p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 28px;
}
 

/* ==========================================================================
   logo
   ========================================================================== */

.navbar-inverse .navbar-brand {
    color: $secondary;
}

.navbar-brand {
    padding: 0;
    margin-left: -15px;
    height: 60px;
}

.navbar-brand .hejtiger-icon, .navbar-brand .hejtiger-logo {
  fill: #fff;
}

.navbar-brand #logo {
  width: 50%;
  max-height: 56px;
  margin-left: -15px;
}

.navbar-brand #logo-icon {
    max-height: 56px;
    max-width: 56px;
    width: 100%;
}

/* ==========================================================================
   page header
   ========================================================================== */

.page-header {
    border: none;
    text-align: center;
    padding: 150px 0 100px;
    margin: 50px 0;
    color:$color-3;
}



/* ==========================================================================
   sidebar
   ========================================================================== */

.sidebar {
	background: $color-3;
	color: $color-5;
  padding: 48px 24px;
}

.sidebar ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}


/* ==========================================================================
   feature
   ========================================================================== */

#feature {
	background-image: url(../images/hej-tiger-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary;
	height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
}

#feature h1 {
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto 48px;
}

#feature p {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.25em;
    margin-bottom: 24px;
    text-transform: uppercase;
}

/* ==========================================================================
   homepage
   ========================================================================== */

#home-about {
  background: $color-5;
}

#home-about p {
  font-size: 16px;
}


/* ==========================================================================
   info siden
   ========================================================================== */

.service {
  text-align: center;
}


/* ==========================================================================
   portfolio
   ========================================================================== */

ul.portfolio-section {
  padding: 72px 0 60px 0;
}

ul.portfolio-section li{
  list-style: none;
  overflow: hidden;
  position: relative;
  display: block;
  padding-left: 0;
  margin-bottom: 15px;
  height: 250px;
}

ul.portfolio-section li:nth-child{
  padding-right: 0;
}

ul.portfolio-section li figure{
width: 100%;
max-height: 300px;
}

ul.portfolio-section li figure span{
width: 70%;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          color: $color-5;
          text-align: center;
          
}


ul.portfolio-section li figure span h3{
text-transform: uppercase;
}

ul.portfolio-section li figure:before{
 content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 15px;
    background: rgba(255,162,0, 0.2);
}

ul.portfolio-section li figure:hover:before {
      background: rgba(255,162,0, 0.7);

    }

ul.portfolio-section li figure img{
width: 100%;
height: auto;
}

/* ==========================================================================
   Instagram-section
   ========================================================================== */

ul.instagram-section {
  padding: 0;
}

ul.instagram-section li{
  list-style: none;
  overflow: hidden;
  position: relative;
  display: block;
  padding-left: 0;
  margin-bottom: 15px;
}

ul.instagram-section li:nth-child{
  padding-right: 0;
}

ul.instagram-section li figure:before{
 content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 15px;
    background: rgba(255,162,0, 0.2);
}

ul.instagram-section li figure:hover:before {
      background: rgba(255,162,0, 0.7);

    }

ul.instagram-section li figure img{
width: 100%;
height: auto;
}



/* ==========================================================================
   single projekt
   ========================================================================== */


/**
 *
 * case
 *
 */

 .case-featured-image {
  margin-bottom: 28px;
 }

 .case-info {

  color: $medium-text-color;

  h1 {
    margin-bottom: 80px;
  }

  ul {
  padding-left: 0;

  }

  li {
    list-style: none;
     padding: 6px 0;
  }

  p {
    font-size: 16px !important;
  }

  .case-beskrivelse {
    text-align: left;
  }
 }


/* ==========================================================================
   blog
   ========================================================================== */
.blog-item {
  max-width: 70%;
  margin: 0 auto;
}

.blog-item h1 {
  margin-bottom: 72px;
}

/* ==========================================================================
   footer
   ========================================================================== */

footer {
  background:$color-2;
}

.bottom-footer {
  position: relative;
}


/* ==========================================================================
   kontakt info
   ========================================================================== */


.kontakt-info {
  background: $color-4;
  color: $color-5;
  text-align: center;
}



/* ==========================================================================
   map
   ========================================================================== */

#map-canvas {
  position: relative;
}

#map {
  width: 100%;
  height: 450px;
  background:black;
}


/* ==========================================================================
   infobox
   ========================================================================== */


.info-box {
    background: none repeat scroll 0 0 $color-5;
    width: 300px;
    position: absolute;
    top: -328px;
}

.info-box p {
  margin-bottom: 12px;
  font-size: 14px;
}

.info-box .adresse, .info-box .kontakt-options, .info-box .social {
  padding-left: 24px;
  padding-right: 24px;
}

.info-box .adresse {
  height: 150px;
  letter-spacing: 0.02em;
}

.info-box .adresse a {
  color: $link-color;
}

.info-box .author {
  text-transform: uppercase;
  margin-top: 0;
}

.info-box .kontakt-options {
  background: $color-3;
  height: 179px;
}

.info-box .social {
  background: $color-5;
  height: 120px;
}

.social .fa-circle {
  color: $link-color;
}

.social .fa-lg {
  font-size: 1.5em;
}

.footer-facts {
  padding-top: 120px;
}


/* ==========================================================================
   Form
   ========================================================================== */

.form-control {
    border: none;
    border-radius: 0;
    color: #55595c;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
   
}



/* ==========================================================================
   gallery default
   ========================================================================== */


.gallery-default {
  @include clearfix;

}